<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Getting started with Vue.js</title>

	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/black.css">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="lib/css/zenburn.css">

	<style>
		.reveal .whoAmI img {
			border-radius: 50%;
			max-width: 150px;
		}

		li {
			list-style-image: url('./assets/vue_logo--list.svg');
		}

		.react--blue {
			color: #25D8FD;
		}
	</style>

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
		document.getElementsByTagName('head')[0].appendChild(link);
	</script>
</head>

<body>
	<div class="reveal">
		<div class="slides">
			<section data-background="./assets/Vue.js_Logo.svg">
				<h1>Getting started with Vue.js</h1>
				<h3 class="fragment">[for people who hear
					<span class="react--blue">React</span> is cool]</h3>
			</section>
			<section data-markdown class="whoAmI">
				<textarea data-template>
					### New library, who dis?

					![Robin Hamill Headshot](./assets/robinHeadshotSquare.jpg)

					``` javascript
					const robinHamill = {
						occupation: ['Independent developer', 'Instructor'],
						url: 'https://www.robinhamill.com',
						social: [ 'twitter', 'codepen', 'github' ],
						follow() {
							this.social.map( () => '@rbnhmll');
						},
					};
					```
				</textarea>
			</section>
			<section>
				<h3>Slides + Starter Files</h3>
				<a href="https://github.com/rbnhmll/vue-workshop/">https://github.com/rbnhmll/vue-workshop/</a>
				<pre>
					<code data-trim>
						vue-workshop
						&#8627; cdn--START
						&#8627; cdn--COMPLETE
						&#8627; cli--START
						&#8627; cli--COMPLETE
						&#8627; vueJS_workshop--slides
							&#8627; vue-slides.html [these slides]
					</code>
				</pre>
			</section>
			<section>
				<h2>What is Vue.js?</h2>
				<ul class="fragment">
					<li>JavaScript framework for building front-end UI</li>
					<li class="fragment">In the same category as
						<span class="react--blue">React</span>, Preact, Angular and Ember</li>
					<li class="fragment">Ability to organize and simplify development</li>
				</ul>
			</section>
			<section>
				<section>
					<h2>Why Vue?</h2>
					<ul>
						<li class="fragment">Easy to learn
							<sup>*</sup>
						</li>
						<li class="fragment">It's just JavaScript</li>
						<li class="fragment">Reactive</li>
						<li class="fragment">Components</li>
						<li class="fragment">Size</li>
					</ul>
					<small class="fragment">
						<sup>*</sup> YMMV
					</small>
				</section>
				<section>
					<h2>Size</h2>
					<em>Relatively small library compared with others</em>

					<table>
						<thead>
							<tr>
								<th>Library</th>
								<th style="text-align:center">Minified</th>
								<th style="text-align:center">GZipped</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Angular 2</td>
								<td style="text-align:center">566K</td>
								<td style="text-align:center">111K</td>
							</tr>
							<tr>
								<td>Ember 2.2.0</td>
								<td style="text-align:center">435K</td>
								<td style="text-align:center">111K</td>
							</tr>
							<tr>
								<td>React 16.2.0 + React DOM</td>
								<td style="text-align:center">97.5K</td>
								<td style="text-align:center">31.8K</td>
							</tr>
							<tr class="fragment highlight-green">
								<td>
									<strong>Vue 2.4.2</strong>
								</td>
								<td style="text-align:center">
									<strong>58.8K</strong>
								</td>
								<td style="text-align:center">
									<strong>20.9K</strong>
								</td>
							</tr>
							<tr>
								<td>Preact 7.2.0</td>
								<td style="text-align:center">16K</td>
								<td style="text-align:center">4K</td>
							</tr>
						</tbody>
					</table>

					<small>
						<sup>*</sup> Source:
						<a href="https://gist.github.com/Restuta/cda69e50a853aa64912d">https://gist.github.com/Restuta/cda69e50a853aa64912d</a>
					</small>
				</section>
			</section>
			<section>
				<h2>🔥 Features</h2>
				<ul>
					<li class="fragment">Progressive JavaScript framework (can add to just one part of your application)</li>
					<li class="fragment">Scalable eco-system (start small, go big)</li>
					<li class="fragment">Reusable components, with its own template, scripts and styles</li>
					<li class="fragment">The best parts of
						<span class="react--blue">React</span> and Angular, without the bloat.</li>
				</ul>
			</section>
			<section>
				<section>
					<h2>Getting started with just the CDN</h2>
				</section>
				<section>
					<h3>Grab the CDN or download the js file</h3>
					<ul>
						<li class="fragment">Use the CDN:
							<pre>
								<code>https://cdn.jsdelivr.net/npm/vue/dist/vue.js</code>
							</pre>
						</li>
						<li class="fragment">or go to
							<a href="https://vuejs.org/v2/guide/installation.html">https://vuejs.org/v2/guide/installation.html</a> to download the files.
						</li>
					</ul>
					<small class="fragment">[
						<strong>Note:</strong> there are two versions -- development &amp; production. We will be using development]</small>
				</section>
				<section>
					<h3>Setting up new Vue Instance</h3>
					<ul>
						<li class="fragment">
							<code>el === element</code>
						</li>
						<li class="fragment">
							<code>data === state</code>
						</li>
						<li class="fragment">
							<code>methods === functions</code>
						</li>
					</ul>
				</section>
				<section data-markdown>
					<textarea data-template>
						### The Vue instance
						```html
						<!-- HTML -->
						...

						<div id="app"></div>

						...
						```
						```javascript
						// JavaScript
						const app = new Vue({
							el: '#app',
							data: {},
							methods: {}
						});
						```
					</textarea>
				</section>
				<section>
					<h3>Example 1 - Using the Vue CDN</h3>
					<p>Open
						<code class="fragment highlight-green">cdn--START</code> in your code editor</p>
					<p class="fragment">We're going to make an application to search Github repos.</p>
				</section>
				<section>
					<h2>Set up Vue State</h2>
					<pre>
						<code data-trim>
							<script>
								const app = new Vue({
									el: '#app',
									data: {
										q: '',
										repos: [],
										searching: false,
										searchingMessage: "Searching...",
										errorHandling: false,
										errorMessage: "Oops, nothing here 💩"
									}
								});
							</script>
						</code>
					</pre>
				</section>
				<section>
					<h2>Set up Vue methods: Search</h2>
					<pre>
						<code data-trim>
							<script>
							...
								methods: {
									async search() {
										this.searching = true;
										this.resetSearch();
										const resp = await fetch(`https://api.github.com/search/repositories?q=${this.q}`);

										const json = await resp.json();
										this.searching = false;
										if (json.items.length) {
											this.repos = json.items;
										} else {
											this.errorHandling = true;
										}
									}
								}
							...
							</script>
						</code>
					</pre>
				</section>
				<section>
					<h2>Set up Vue methods: Reset Search</h2>
					<pre>
							<code data-trim>
								<script>
								...
									methods: {
									...
										resetSearch() {
											this.errorHandling = false;
											this.repos = [];
										}
									}
								...
								</script>
							</code>
						</pre>
				</section>
				<section>
					<h2>Two-way data binding</h2>
					<pre>
						<code data-trim>
							<template>
							...
							<input type="search" v-model="q">
							...
							</template>
						</code>
					</pre>
				</section>
				<section>
					<h2>Input Handling</h2>
					<pre>
						<code data-trim>
							<template>
							...
							<form @submit.prevent="search">
								<input type="search" name="search" id="search" placeholder="Repo Search" v-model="q">
							</form>
							...
							</template>
						</code>
					</pre>
				</section>
				<section>
					<h2>Looping</h2>
					<pre>
						<code data-trim>
							<template>
							...
							<ul>
								<li v-for="repo in repos" class="repo">
									...
								</li>
							</ul>
							...
							</template>
						</code>
					</pre>
				</section>
				<section>
					<h2>Declarative Rendering</h2>
					<pre>
						<code data-trim>
							<template>
							...
							<p>
								<strong>Dev:</strong> {{ repo.owner.login }}
							</p>
							<p>
								<strong>Repo:</strong> {{ repo.name }}
							</p>
							...
							<h2>{{errorMessage}}</h2>
							...
							</template>
						</code>
					</pre>
				</section>
				<section>
					<h2>Attribute Binding</h2>
					<pre>
						<code data-trim>
							<template>
							...
							<ul>
								<li v-for="repo in repos" class="repo">
									<a :href="repo.html_url" class="repo__link">
										<div class="repo__image">
											<img :src="repo.owner.avatar_url" :alt="repo.full_name">
										</div>
										...
									</a>
								</li>
							</ul>
							...
							</template>
						</code>
					</pre>
				</section>
				<section>
					<h2>Conditional Rendering</h2>
					<pre>
						<code data-trim>
							<template>
							...
							<Element class="results" v-if="repos.length">
								...
							</Element>
							<Element class="searching" v-if="searching">
								...
							</Element>
							<Element class="errors" v-if="errorHandling">
								...
							</Element>
							...
							</template>
						</code>
					</pre>
				</section>
			</section>
			<section>
				<section>
					<h2>Vue.js devtools</h2>
					<ul>
						<li>
							<a href="https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd?hl=en">Chrome</a>
						</li>
						<li>
							<a href="https://addons.mozilla.org/en-US/firefox/addon/vue-js-devtools/">Firefox</a>
						</li>
					</ul>
				</section>
				<section>
					<h3>Devtools gotchas
						<sup>*</sup>
					</h3>
					<ul>
						<li>If the page uses a production/minified build of Vue.js, devtools inspection is disabled by default so the Vue pane
							won't show up.</li>
						<li>To make it work for pages opened via
							<code>file://</code> protocol, you need to check "Allow access to file URLs" for this extension in Chrome's extension management panel.</li>
					</ul>
					<small>
						<sup>*</sup>From Vue-devtools documentation:
						<a href="https://github.com/vuejs/vue-devtools">https://github.com/vuejs/vue-devtools</a>
					</small>
				</section>
			</section>
			<section>
				<section>
					<h2>using vue-cli</h2>
					<h3>[It's like
						<span class="react--blue">create-react-app</span>]</h3>
				</section>
				<section>
					<h3>Vue CLI</h3>
					<ul>
						<li class="fragment">Install vue-cli (https://github.com/vuejs/vue-cli),
							<pre>
								<code data-trim>$ npm install -g vue-cli</code>
							</pre>
						</li>
						<li class="fragment">Create project
							<pre>
								<code data-trim>$ vue init [template-name] [project-name]
								</code>
							</pre>
						</li>
						<li class="fragment">
							<code>[template-name]</code> can be webpack || webpack-simple || browserify || browserify-simple || pwa || simple</li>
					</ul>
				</section>
				<section>
					<h3>Vue CLI</h3>
					<ul>
						<li class="fragment">Start Server
							<pre>
								<code data-trim>$ npm run dev</code>
							</pre>
						</li>
						<li class="fragment">Go to
							<a href="localhost:8080">localhost:8080</a>
						</li>
					</ul>
				</section>
				<section>
					<h3>Vue CLI (provided project)</h3>
					<ul>
						<li class="fragment">Open
							<code class="fragment highlight-green">cli--START</code> in your code editor, and
							<code class="fragment highlight-green">cd</code> into project folder in terminal
						</li>
						<li class="fragment">Install packages:
							<pre>
								<code data-trim>$ npm install</code>
							</pre>
						</li>
						<li class="fragment">Start server:
							<pre>
								<code data-trim>$ npm run dev</code>
							</pre>
						</li>
						<li class="fragment">Go to
							<a href="localhost:8080">localhost:8080</a>
						</li>
					</ul>
				</section>
				<section>
					<h2>Style scoping (and SASS with node-sass)</h2>
					<pre>
						<code data-trim>$ npm install sass-loader node-sass --save-dev</code>
					</pre>
				</section>
			</section>
			<section>
				<h3>Run with it!</h3>
				<p class="fragment">Vue has a bunch of additional tools which parallel other popular frameworks</p>
				<ul>
					<li class="fragment">Vue-router [like
						<span class="react--blue">React Router</span>]</li>
					<li class="fragment">Vuex [like
						<span class="react--blue">Redux</span>]</li>
					<li class="fragment">Nuxt.js [SSR, like
						<span class="react--blue">Next.js</span>]</li>
				</ul>
			</section>
			<section>
				<h3>Resources</h3>
				<ul>
					<li>Vue docs:
						<a href="https://vuejs.org/v2/guide/">https://vuejs.org/v2/guide/</a>
					</li>
					<li>vue-cli:
						<a href="https://github.com/vuejs/vue-cli">https://github.com/vuejs/vue-cli</a>
					</li>
					<li>Vue Router:
						<a href="https://router.vuejs.org/en/">https://router.vuejs.org/en/</a>
					</li>
					<li>Vuex:
						<a href="https://vuex.vuejs.org/en/intro.html">https://vuex.vuejs.org/en/intro.html</a>
					</li>
					<li>Nuxt:
						<a href="https://nuxtjs.org/">https://nuxtjs.org/</a>
					</li>
					<li>Intro to Vue, by
						<a href="https://sarahdrasnerdesign.com/">Sarah Drasner</a>:
						<a href="https://css-tricks.com/intro-to-vue-1-rendering-directives-events/">https://css-tricks.com/intro-to-vue-1-rendering-directives-events/</a>
					</li>
				</ul>
			</section>
			<section data-markdown class="whoAmI">
				<textarea data-template>
					### Thank you!

					<!-- ![Robin Hamill Headshot](./assets/robinHeadshotSquare.jpg) -->

					``` javascript
					const robinHamill = new Vue({
						el: '#yourPresenter',
						data: {
							occupation: ['Independent developer', 'Instructor'],
							url: 'https://www.robinhamill.com',
							social: [ 'twitter', 'codepen', 'github' ],
						},
						methods: {
							follow() {
								this.social.map( () => '@rbnhmll');
							},
						}
					});
					```
				</textarea>
			</section>
		</div>
	</div>

	<script src="lib/js/head.min.js"></script>
	<script src="js/reveal.js"></script>

	<script>
		// More info about config & dependencies:
		// - https://github.com/hakimel/reveal.js#configuration
		// - https://github.com/hakimel/reveal.js#dependencies
		Reveal.initialize({
			dependencies: [
				{ src: 'plugin/markdown/marked.js' },
				{ src: 'plugin/markdown/markdown.js' },
				{ src: 'plugin/notes/notes.js', async: true },
				{ src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } }
			]
		});
	</script>
</body>

</html>