<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue! - CDN Complete</title>
  <link rel="stylesheet" href="../sharedAssets/styles/style.css">
  <link rel="stylesheet" href="../sharedAssets/styles/cdn-style.css">
</head>

<body>
  <div id="app" class="wrapper">
    
    <Search @search="search($event)"></Search>
    <Results :repos="repos" v-if="repos.length"></Results>
    <Searching v-if="searching"></Searching>
    <Errors v-if="errorHandling"></Errors>
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    
    Vue.component('Search', {
      template: `
        <section class="search">
          <h1>Search for Github repo</h1>
          <form @submit.prevent="$emit('search', q)">
            <input
              id="search"
              name="search"
              type="search"
              v-model="q"
              required
            >
            <label for="search">Repo search</label>
          </form>
        </section>
      `,
      data() {
        return {
          q: '',
        }
      }
    });

    Vue.component('Results', {
      template: `
        <section class="results">
          <ul>
            <li v-for="repo in repos" class="repo">
              <a :href="repo.html_url" class="repo__link">
                <div class="repo__image">
                  <img
                    :src="repo.owner.avatar_url"
                    :alt="repo.full_name"
                  >
                </div>
                <div class="repo__meta">
                  <p>
                    <strong>Dev:</strong> {{ repo.owner.login }}
                  </p>
                  <p>
                    <strong>Repo:</strong> {{ repo.name }}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </section>
      `,
      props: ['repos'],
    });

    Vue.component('Searching', {
      template: `
        <section class="searching">
          <p>{{searchingMessage}}</p>
        </section>
      `,
      data() {
        return {
          searchingMessage: "Searching...",
        };
      },
    });

    Vue.component('Errors', {
      template: `
        <section class="errors">
          <h2>{{errorMessage}}</h2>
        </section>
      `,
      data() {
        return {
          errorMessage: "Oops, nothing here 💩",
        };
      },
    });
    
    const app = new Vue({
      el: '#app',
      data: {
        repos: [],
        searching: false,
        errorHandling: false,
      },
      methods: {
        search: async function (q) {
          this.searching = true;
          this.resetSearch();
          const resp = await fetch(`https://api.github.com/search/repositories?q=${q}`);

          const json = await resp.json();
          this.searching = false;
          if (json.items.length) {
            this.repos = json.items;
          } else {
            this.errorHandling = true;
          }
        },
        resetSearch() {
          this.errorHandling = false;
          this.repos = [];
        }
      }
    });
  </script>
</body>

</html>