<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue!</title>
  <link rel="stylesheet" href="../sharedAssets/styles/style.css">
  <link rel="stylesheet" href="../sharedAssets/styles/cdn-style.css">
</head>

<body>
  <div id="app" class="wrapper">
    <section class="search">
      <h1>Search for Github repo</h1>
      <form @submit.prevent="search">
        <input type="search" name="search" id="search" v-model="q" required>
        <label for="search">Repo search</label>
      </form>
    </section>
    <section class="results" v-if="repos.length">
      <ul>
        <li v-for="repo in repos" class="repo">
          <a :href="repo.html_url" class="repo__link">
            <div class="repo__image">
              <img :src="repo.owner.avatar_url" :alt="repo.full_name">
            </div>
            <div class="repo__meta">
              <p>
                <strong>Dev:</strong> {{ repo.owner.login }}
              </p>
              <p>
                <strong>Repo:</strong> {{ repo.name }}
              </p>
            </div>
          </a>
        </li>
      </ul>
    </section>
    <section class="searching" v-if="searching">
      <p>Searching...</p>
    </section>
    <section class="errors" v-if="errorHandling">
      <h2>{{errorMessage}}</h2>
    </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        q: '',
        repos: [],
        searching: false,
        errorHandling: false,
        errorMessage: "Oops, nothing here 💩"
      },
      methods: {
        search: async function () {
          this.searching = true;
          this.resetSearch();
          const resp = await fetch(`https://api.github.com/search/repositories?q=${this.q}`);

          const json = await resp.json();
          this.searching = false;
          if (json.items.length) {
            this.repos = json.items;
          } else {
            this.errorHandling = true;
          }
        },
        resetSearch() {
          this.errorHandling = false;
          this.repos = [];
        }
      }
    });
  </script>
</body>

</html>